<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="mistests">
    <classes>
      <class name="tests.Cuentas"/>
      <class name="tests.Tests" />
      <class name="testsDeMorondanga.PipiCucu" /> 
    </classes>
  </test> <!-- mistests -->
</suite> <!-- Suite -->
